# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# OS junk
.DS_Store
Thumbs.db

# Video artifacts
*.mp4
*.mov
*.mkv
*.avi
*.wav

# Temp / intermediates
*.tmp.*
*.cfr.tmp.mp4
