# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# OS junk
.DS_Store
Thumbs.db

# Video artifacts
*.mp4
*.mov
*.mkv
*.avi
*.wav

# Temp / intermediates
*.tmp.*
*.cfr.tmp.mp4
cinematic_time_compress/low_rattling_voidstar_1080x1920.mp4:Zone.Identifier
cinematic_time_compress/low_rattling_voidstar0 - Copy.mp4:Zone.Identifier
voidstar_ascii_bigfoot/RamblinVisioneer9.jpg:Zone.Identifier
cinematic_time_compress/output_cinematic.txt
neurons/renders/